/segundoB/ipc/JavaFX11_Sigup - copia/nbproject/private/
/segundoB/ipc/JavaFX11_Sigup - copia/build/
/segundoB/ipc/JavaFX11_Sigup - copia/dist/
/segundoB/ipc/prac1/CALCULADORA/nbproject/private/
/segundoB/ipc/prac1/LOGIN_IPC/build/
/segundoB/ipc/prac1/LOGIN_IPC/nbproject/private/
/segundoB/ipc/prac2/IPC_FXML_Practica2/build/
/segundoB/ipc/prac2/IPC_FXML_Practica2/nbproject/private/
/segundoB/ipc/prac3/IPC_FXML_ListView/IPC_FXML_ListView/build/
/segundoB/ipc/prac3/IPC_FXML_ListView/IPC_FXML_ListView/nbproject/private/
/segundoB/ipc/prac3/IPC_FXML_MultipleWindows/build/
/segundoB/ipc/prac3/IPC_FXML_MultipleWindows/nbproject/private/
/segundoB/ipc/prac3/IPC_FXML_TableView/IPC_FXML_TableView/build/
/segundoB/ipc/prac3/IPC_FXML_TableView/IPC_FXML_TableView/nbproject/private/
