/segundoB/ipc/prac2/IPC_FXML_Practica2/nbproject/private/
/segundoB/ipc/prac2/IPC_FXML_Practica2/build/
/segundoB/ipc/prac3/IPC_FXML_ListView/IPC_FXML_ListView/nbproject/private/
/segundoB/ipc/prac3/IPC_FXML_ListView/IPC_FXML_ListView/build/
/segundoB/ipc/prac3/IPC_FXML_MultipleWindows/nbproject/private/
/segundoB/ipc/prac3/IPC_FXML_MultipleWindows/build/
/segundoB/ipc/prac4/JavaFX11_MenuDialogsToolbar/nbproject/private/
/segundoB/ipc/prac4/JavaFX11_MenuDialogsToolbar/build/
/segundoB/ipc/prac5/Calculadora/nbproject/private/
/segundoB/ipc/prac5/Calculadora/build/
