################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/cuartoA/SGI/practs/.vs/practs/v17/
