include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-include pygomas/maps *
recursive-include pygomas/ASL *
recursive-include pygomas/assets *
recursive-include pygomas/agents *
recursive-include pygomas/algorithms *
recursive-include pygomas/packs *
recursive-include pygomas/render *
recursive-include pygomas/utils *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
